# `{{{ method }}}` {{{ path }}}

*{{{description}}}*

{{#request}}
### Request:

+ Headers:
{{#headers?}}
    {{#headers}}
    + `{{{key}}}`: {{{value}}}
    {{/headers}}
    
    *For more information check [[Headers]]*
{{/headers?}}
{{^headers}}
    No specific headers needed.
{{/headers}}

+ Url Params:
{{#urlQuery?}}
    {{#urlQuery}}
    + `{{{key}}}`: {{{value}}}
    {{/urlQuery}}
{{/urlQuery?}}
{{^urlQuery}}
    No specific query parameters needed.
{{/urlQuery}}

+ Body:
{{#body?}}
```
{{{body}}}
```
{{/body?}}
{{^body}}
    No specific body attributes needed.
{{/body}}

{{/request}}
***


{{#exchanges}}
### Response:

+ Status: **{{{statusCode}}}**

+ Body:
{{#body?}}
```
{{{body}}}
```
{{/body?}}
***
{{/exchanges}}